
name: Build and Run .NET Console App

on:
  workflow_dispatch: # 允许通过GitHub UI或API手动触发此工作流
  schedule:
    # 每天16:30 UTC (即次日00:30 CST)
    - cron: '30 16 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    env: # 定义全局环境变量
      # 用于 Fork 的用户 token
      forkToken: ${{ secrets.forkToken }}
      # 需要查询关注列表的用户
      starUser: ${{ secrets.starUser }}
      # 是否启用日志，如果不配置则默认为 true
      enableLog: ${{ vars.enableLog || 'true' }}
      # 日志仓库名，如果不配置则默认为 AutoForkLog
      logRepo: ${{ vars.logRepo || 'AutoForkLog' }}
      # 最小更新时间间隔（单位：时），如果不配置则默认为 0
      minUpdatehHourInterval: ${{ vars.minUpdatehHourInterval || '0' }}
      # 排除的仓库名，支持正则
      excluded: ${{ vars.excluded || 'cyoukon/.*' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x' # 使用您需要的 .NET 版本

    - name: Restore dependencies
      run: dotnet restore

    - name: Build the project
      run: dotnet build --configuration Release --no-restore

    # - name: Run tests
    #   run: dotnet test --no-build --verbosity normal

    - name: Publish the application
      run: dotnet publish -c Release -o ./publish
      
    - name: Run the console app with arguments
      run: |
        cd ./publish
        dotnet AutoFork.dll